.btn {
  background-color: var(--figma-button-primary-background);
  color: var(--figma-button-primary-text);
  padding: 8px 24px 8px 24px;
  border-radius: 8px;
  font-size: var(--figma-font-sizes-h6);
  border: none;
}

.btn:hover {
  background-color: var(--figma-button-hover-background);
  color: var(--figma-button-primary-text);
}
